.quatrain-container {
    width: 100%;
}

.quatrain {
    width: 50%;
    background-color: #1EE62F;
    margin: 0 auto;
    text-align: center;
}

.quatrain-header {
    padding: 1rem 0;
    font-size: .8rem;
    font-weight: 400;
    color: #4207E6;
}

.quatrain-text {
    padding: 1rem 0;
    font-size: 1.2rem;
    font-weight: 300;
    font-style: italic;
    color: #4207E6;
}