.quatrain-container {
  width: 100%;
  box-shadow: 0 4px 10px rgb(0 0 0 / 0.2);
}

.quatrain {
  //width: 70%;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  border-radius: 0.5rem;
}

.quatrain-header {
  //margin-top: 3rem;
  padding: 1rem 0;
  font-size: 1rem;
  font-weight: 700;
  color: #1029ba;
  //border-top: solid 1px #e67e1e;
}

.quatrain-text {
  padding: 0rem 5rem;
  font-size: 1rem;
  padding-bottom: 1.2rem;
  font-weight: 300;
  font-style: italic;
  color: #1029ba;
}
