.auth-container {
  width: 100%;
  //box-shadow: 0 4px 10px rgb(0 0 0 / 0.2);
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.input-label {
  //margin-top: 3rem;
  padding: 1rem 0;
  font-size: 1rem;
  font-weight: 700;
  color: #e5e5e5;
  //border-top: solid 1px #e67e1e;
}
.login-signup-label {
  //margin-top: 3rem;
  padding: 3rem 0;
  font-size: 1rem;
  font-weight: 400;
  color: #e5e5e5;
  //border-top: solid 1px #e67e1e;
}

.auth-input {
  width: 80%;
  height: 40px;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 0 10px;
  margin-bottom: 15px;
  font-size: 0.9rem;
  outline: none;
  display: flex;
  background-color: #e5e5e5;
  text-align: center;
  color: #1029ba;
  height: 1.6rem;
  font-size: 1rem;
  margin: 12px auto;
}

.auth-form {
  //display: flex;
  //align-items: center;
  //margin: 0 auto;
}

::placeholder {
  color: #1029ba;
}
